/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Hevetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #2d2b3d;
}

.container {
    display: flex;
    width: 90%;
    background: #1e1c2a;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Left side */
.left {
    width: 50%;
    padding: 20px;
    background: #23212e;
    text-align: center;
}

.logo img {
    width: 200px;
    position: absolute;
    top: 10px;
    left: 80px;
}

.bg-image {
    margin-top: 20px;
}

.bg-image img {
    width: 100%;
    border-radius: 10px;
}

/* Right side */
.right {
    width: 50%;
    padding: 30px;
    background: #2d2b3d;
    color: white;
}

h2 {
    margin-bottom: 5px;
}

a {
    color: #a58bff;
    text-decoration: none;
}

.signup-form {
    display: flex;
    width: 100%;
}

.input-group {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background: #3b394e;
    color: white;
}

.pswd-group {
    display: flex;
    justify-content: space-around;
}

.toggle-password {
    /* position: absolute; */
    /* right: 10px;
    top: 50%;
    transform: translateY(-50%); */
    cursor: pointer;
}

.checkbox {
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 5px;
}

.create-account {
    width: 100%;
    padding: 10px;
    border: none;
    background: #a58bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.create-account:hover {
    background: #9376ff;
}

/* Social Login */
.social-login {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.google-btn, .apple-btn {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.google-btn {
    background: white;
    color: black;
}

.apple-btn {
    background: black;
    color: white;
}
